name: 'Build & Test'

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'oracle'

    - name: Validate wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper
        cache-read-only: false

    - name: Download dependencies
      run: |
        mkdir -p libs
        curl -L -o libs/Mantle-1.20.1-1.11.71-sources.jar https://github.com/SlimeKnights/Mantle/releases/download/v1.11.71/Mantle-1.20.1-1.11.71-sources.jar
        curl -L -o libs/Mantle-1.20.1-1.11.71.jar https://github.com/SlimeKnights/Mantle/releases/download/v1.11.71/Mantle-1.20.1-1.11.71.jar
        curl -L -o libs/TConstruct-1.20.1-3.10.2.92-sources.jar https://github.com/SlimeKnights/TinkersConstruct/releases/download/v3.10.2.92/TConstruct-1.20.1-3.10.2.92-sources.jar
        curl -L -o libs/TConstruct-1.20.1-3.10.2.92.jar https://github.com/SlimeKnights/TinkersConstruct/releases/download/v3.10.2.92/TConstruct-1.20.1-3.10.2.92.jar

    - name: Build with Gradle Wrapper
      run: ./gradlew build
